@model GameAccountExample.ViewModels.PlayersPerGameViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game "@Html.DisplayFor(model => model.Game.Title)"</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.GameIdentifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.GameIdentifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.MinPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.MinPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.MaxPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.MaxPlayers)
        </dd>

        <dt>
            Current participants
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Users.Count)
        </dd>
    </dl>
</div>

<div>
    <h4>Players in game</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().FriendlyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
            </th>
            <th>
            </th>
        </tr>

        @foreach (var item in Model.Users)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FriendlyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Remove", "RemoveUserFromGame", new { gameid = Model.Game.GameID, userid = item.UserID })
        </td>

    </tr>
        }

    </table>
</div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Game.GameID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
